<section role="about">
    <div class="row padding-40">
        <div class="small-12 large-7 columns">
            <title>
                <h3>Motivating and Inspiring is What We&rsquo;re All About</h3>
            </title>
            <p>RIESTER is made up of Brand Activists<sup>&trade;</sup>. Who are they? They are multi-talented digital and traditional aficionados who motivate and inspire the people around them. They know forward-thinking advertising inside and out. They’re team players, but they’re never afraid to let their individual talents shine to kill it for a client project—and for themselves.</p>
        </div>
        
        <div class="small-1 large-1 columns hide-for-small-only hide-for-medium-only">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1px" height="154px">
                <image  x="0px" y="0px" width="1px" height="154px"  xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAACaCAQAAADCveqCAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfhBB4VLSPMKq7tAAAAXklEQVQY0+3G0QnCMAAA0eNqK1JT6Szu0P0nqQZTSFGTfmUCf4XHcdwXKVKlinKSQQYZJchNJpmbIFcZ5SJn6aSXThRa/35U2xQp8pGv7PKWJEle8pCnrBIlyiZZ8gFHPha87xGBvAAAAABJRU5ErkJggg==">
            </svg>
        </div>
        
<!-- Email Sign Up -->
        <div class="small-12 large-4 columns">
            <h3 class="gold-txt">RIESTERmail Sign Up</h3>
            <p>Send me insights &amp; updates. (+ great gifs.)</p>
            
            <div class="input-group">
              <input class="input-group-field" placeholder="email address" type="email">
              <div class="input-group-button">
                <input type="submit" class="button secondary" value="I&rsquo;m In">
              </div>
            </div>
        </div>
    </div>
</section>

<!-- Fiesta Time -->
<section role="fiesta">
    <div class="dark-grey-section">
        <div class="row padding-40">
            <div class="small-12 large-4 columns">
                    <img class="img-glow bottom-margin-20" src="assets/img/fiesta.jpg" alt="everyone loves a fiesta">
            </div>
            <div class="small-12 large-8 columns">
                <h3>Spicy CPGs. Hot Healthcare. Fiery&nbsp;Tourism.</h3>
                <p>The best thing about working at RIESTER is that your challenges are always switching up. From concepting hot new campaigns, to launching new responsive sites visited by thousands, to loving the latest office-wide potluck (best part of having food clients), you’re constantly flexing new advertising muscles and learning something new. So what are you waiting for? Code this site already and join us. Here’s why:</p>
                
                <div>
                    <div class="row small-up-1 medium-up-2 large-up-2">
                        <div class="column">
                            <p class="bottom-margin-0">&ndash; Show off your baller skills and get hired</p>
                            <p class="bottom-margin-0">&ndash; Debate virtues of .NET, PHP, HTML, jQuery...</p>
                            <p class="bottom-margin-0"class="bottom-margin-0">&ndash; Get access to an endless supply of caffeine</p>
                        </div>
                        
                        <div class="column">
                            <p class="bottom-margin-0">&ndash; Never leave your dog (to poop) at home again</p>
                            <p class="bottom-margin-0">&ndash; Tell your friends you coded this “awesome site”</p>
                            <p class="bottom-margin-40">&ndash; On a serious note: full benefits package!</p>
                        </div>
                      
                        <div class="column">
                            <a class="button large primary" href="mailto:david@d2creativedesign.com?subject=You Rocked the Buildout">I Rocked This Buildout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div> 
</section>
    