<footer>
    <div class="row padding-50">
<!-- !Links -->   
        <div class="small-12 large-2 columns">
            <a href="https://www.riester.com">
                <img class="footer-logo" src="assets/img/riester-logo-white.svg" alt="RIESTER">
            </a>
            <hr class="gradient-rule">
            <p><a href="https://www.riester.com">Home</a></p>
            <p><a href="https://www.riester.com/about/">About</a></p>
            <p><a href="https://www.riester.com/contact/">Contact</a></p>
            <p><a href="https://www.riester.com/insights/">Blog</a></p>
        </div>
<!-- !Locations -->              
        <div class="small-12 large-5 large-offset-2 columns">
            <h4>Locations</h4>
            <hr class="gradient-rule">
            
            <div class="row small-up-2 medium-up-3 large-up-3">
                <div class="column">
                    <p><strong>Phoenix</strong></p>
                    <p>802 North 3rd Avenue</p>
                    <p>Phoenix AZ 85003</p>
                    <p>602-462-2200</p>
                </div>
                
                <div class="column">
                    <p><strong>Los Angeles</strong></p>
                    <p>1960 E Grand Avenue</p>
                    <p>El Segundo, CA 90245</p>
                    <p>310-563-2300</p>
                </div>
              
                <div class="column">
                    <p><strong>Park City</strong></p>
                    <p>1441 West Ute Boulevard</p>
                    <p>Park City, Utah 84098</p>
                    <p>435-647-2100</p>
                </div>
            </div>
        </div>
<!-- !Social -->             
        <div class="small-12 large-2 columns">
            <h4>Connect</h4>
            <hr class="gradient-rule">
            <div class="row small-up-1 medium-up-1 large-up-1">
                <div class="column">
                   <a href="https://www.facebook.com/RIESTERagency/" class="fa fa-facebook"></a>
                   <a href="https://twitter.com/riesteragency?lang=en" class="fa fa-twitter"></a>
                </div>
            </div>
        </div>
    </div>       
</footer>