<!--    Large Nav Logo--> 
<div class="sticky-container">
    <div class="sticky">  
        <div class="top-bar" id="example-menu">
            <div class="top-bar-left">
                <ul class="menu medium-horizontal" data-responsive-menu="drilldown medium-dropdown">
                    <li><a href="https://www.riester.com"><img class="logo hide-for-small-only" src="assets/img/Vector-Smart-Object.svg" alt="RIESTER"></a>
                    </li>
                </ul>
            </div>
            
<!--    Main Nav -->           
            <div class="top-bar-right">
                <nav>
                    <ul class="menu vertical medium-horizontal" data-responsive-menu="drilldown medium-dropdown">
                        <li><a class="current" href="https://www.riester.com">HOME</a></li>
                        <li><a href="https://www.riester.com/about/">ABOUT</a></li>
                        <li><a href="https://www.riester.com/contact/">CONTACT</a></li>
                        <li><a href="https://www.riester.com/insights/">BLOG</a></li>
                    </ul>
                </nav>                
            </div>
        </div>
    </div>
</div>  

<!--    Mobile Nav -->
<div class="sticky-container teal-opaque">
    <div class="sticky teal-opaque">  
        <div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
            <button class="menu-icon" type="button" data-toggle="example-menu"></button>
            <div class="menu-text"><a href="https://www.riester.com"><img class="logo" src="assets/img/Vector-Smart-Object.svg" alt="RIESTER"></a></div>
        </div>
    </div>
</div>



