<header role="banner">
    <div class="orbit" role="region" aria-label="Riester Images" data-orbit>
        <ul class="orbit-container">
              
        <!-- Left slider button -->
            <button class="orbit-previous show-for-large">
            	<span class="show-for-sr right">Previous Slide</span>
            	<img src="assets/img/left-arrow.png" alt="left-arrow">
            </button>
            
        <!-- Right slider button -->
            <button class="orbit-next show-for-large">
            	<span class="show-for-sr">Next Slide</span>
            		<img src="assets/img/right-arrow.png" alt="right-arrow">
            </button>
            
            
        <!-- Slider images -->
            <li class="is-active orbit-slide">
              <img class="orbit-image" src="assets/img/woman-in-car.jpg" alt="woman-in-car">
            </li>
            <li class="orbit-slide">
              <img class="orbit-image" src="assets/img/woman-in-marsh.jpg" alt="woman-in-marsh">
            </li>
            <li class="orbit-slide">
              <img class="orbit-image" src="assets/img/man-with-mohawk.jpg" alt="man-with-mohawk">
            </li>
        </ul>
        
        <nav class="orbit-bullets">
            <button class="is-active" data-slide="0">
                <span class="show-for-sr">First slide details.</span>
                <span class="show-for-sr">Current Slide</span>
            </button>
            <button data-slide="1">
                <span class="show-for-sr">Second slide details.</span>
            </button>
            <button data-slide="2">
                <span class="show-for-sr">Third slide details.</span>
            </button>
        </nav>

    </div>
</header>