.sticky-container {
  position: absolute;
  left:0;
  
}

.sticky {
  width: 100%;
  z-index: 40;
}

.top-bar {
    
    @include breakpoint(medium) {
        margin-top: -6px;
        margin-left: 0;
        margin-right: auto;
    }
    
    @include breakpoint(large) {
        margin-top: -10px;
        margin-left: 110px;
        margin-right: auto;
    }
}
  

.top-bar-left {
    
    @include breakpoint(medium) {
        margin-top: 2px;
        margin-right: 60px;
        top: 100px;
    }
    
    @include breakpoint(large) {
        margin-top: 7px;
        margin-right: 40px;
        top: 100px;
    }
}

.top-bar-right {

    @include breakpoint(small) {
        
        position: absolute;
        float: left;
        top: 90px;
        left: 0px;
        margin-top: 0;
        margin-left: 0;
        min-width: 40em;
    }
    
    @include breakpoint(medium) {
        position: relative;
        float: right;
        top: 0;
        margin-left: 60px;
    }
    
    @include breakpoint(large) {
        float: right;
        margin-left: 160px;
    }
}


.top-bar-right li a.current:link, a.current:visited {
  background-color: $teal-opaque;
}

.top-bar-right li a:hover {
    background: $teal-opaque;
}

.select, .name {    
    background: transparent;
   
}

.top-bar-right li a  {

    @include breakpoint(small) {
        color: $white;
        background: $dark-teal-opaque;
    }
    
    @include breakpoint(medium) {
        color: $black;
        font-size: 24px;
        font-weight: 300;
        background: $dark-teal-opaque;
        padding: 10px 15px;
        margin-right: 3px;
    }
    
    @include breakpoint(large) {
        color: $black;
        font-size: 30px;
        font-weight: 300;
        background: $dark-teal-opaque;
        padding: 20px 30px;
        margin-right: 3px;
    }
}


.logo  {
    
     @include breakpoint(small) {
        position: relative;
        max-width: 120px;
        height: auto;
        padding: 5;
        margin-left: 0;
    }
   
   
    @include breakpoint(medium) {
        position: relative;
        max-width: 120px;
        height: auto;
        padding: 5;
        margin-left: 0;
    }
    
    @include breakpoint(large) {
        position: relative;
        max-width: 183px;
        height: auto;
        padding: 0;
        margin: 0;
    }
}









