.sticky-container {
  position: absolute;
  left:0;
  
}

.sticky {
  width: 100%;
  z-index: 40;
}

.logo {
    position: relative;
    max-width: 183px;
    height: auto;
    padding: 0;
    margin: 0;

}

.logo li a {
    background: transparent;
}

 .top-bar-right li a {
    color: $black;
    font-size: 30px;
    font-weight: 300;
    background: $dark-teal-opaque;
    padding: 20px 30px;
    margin-right: 3px;
}

.top-bar-right li a.current:link, a.current:visited {
  background-color: $teal-opaque;
}

.top-bar-right li a:hover {
    background: $teal-opaque;
}

.select, .name {    
    background: transparent;
   
}



@media only screen and (min-width: 64.063em) and (max-width: 90em) {
    
.top-bar {
    margin-top: -10px;
    margin-right: auto;
    margin-left: 110px;
     
    }
 
.top-bar-left {
    margin-top: 7px;
    margin-right: 40px;
    top: 100px;
    }
    
    .top-bar-right {
    margin-left: 110px;
    top: 100px;
    }
    
    
}


@media only screen and (min-width: 40.063em) and (max-width: 64em) { 
    
 .top-bar {
     margin-top: -6px;
     margin-left: 0;
     margin-right: auto;
     
     
 }

 .top-bar-left {
    margin-top: 2px;
    margin-right: 60px;
    top: 100px;
    }
    
.logo {
    position: relative;
    max-width: 120px;
    height: auto;
    padding: 5;
    margin: 0;

}
    
.top-bar-right {
    margin-left: 15px;
    top: 100px;
}
  .top-bar-right li a {
    color: $black;
    font-size: 24px;
    font-weight: 300;
    background: $dark-teal-opaque;
    padding: 10px 15px;
    margin-right: 3px;
    }
    
}

@media only screen and (max-width: 40em) { 
 .top-bar-right li a {
    color: $white;
    }
.top-bar-right {
    position: absolute;
    margin-top: 6px;
    left: 0px;
    margin-left: 0;
    min-width: 40em;
    } 
} 

